<!DOCKTYPE html>
<html>
<head>
</head>
<body>
<h1>Create a listing by inputing information into the following fields</h1>
  <h4><%= @error %></h4>
  <h4 style="text-align:center">
  <form action='/create_exec' method='post'>
    <input type='text' name='name' placeholder="Space name" required><br/>
    <input type='text' name='description' placeholder="Description" required><br/>
    <input type='number' name='price' placeholder="Price" required><br/>
    <input type='number' name='capacity' placeholder="Capacity" required><br/>
    <input type='submit' value='Create space'>
  </form>
  </h4>

</body>
</html>

