<!DOCKTYPE html>
<html>
<head>
<title>Create booking</title>
</head>
<body>
<h1>Create a listing by inputing information into the following fields</h1>
  <h4><%= @error %></h4>
  <h4 style="text-align:center">
  <form action='/create_exec' method='post'>
    <input type='date' name='start_date' placeholder= "01/09/2021" required><br/>
    <input type='date' name='end_date' placeholder="21/09/2021" required><br/>
    <input type='submit' value='Book space'>
  </form>
  </h4>

</body>
</html>
