<!DOCKTYPE html>
<html>
<head>
  <link rel='stylesheet' href='my_style_sheet.css'>
</head>
<body>

<!-- navbar begin -->

<nav id="navbar" class="navbar">
  <h1 class="navbar__title">Menu</h1>
  <ul class="navbar__list">
      <li class="navbar__item">
        <a href="/" class="navbar__link">Spaces</a>
      </li>
  </ul>
</nav>

<!-- navbar end -->

<header>
  <h1>Create booking</h1>
</header>
  <h4><%= @error %></h4>
  <form action='/create_exec' method='post'>
    <input type='date' name='start_date' required><br/>
    <input type='date' name='end_date' required><br/>
    <input type='submit' value='Book space'>
  </form>

<footer>

</footer>
</body>
</html>
