<!DOCKTYPE html>
<html>
<head>
</head>
<body>
<h1>Create a listing by inputing information into the following fields</h1>
  <form action='/bnb/new_listing' method='post'>
    <label for='name'>Space Name</label>
    <input type='text' name='name'>

    <label for='description'>Description</label>
    <input type='text' name='description' >

    <label for='price'>Price</label>
    <input type='number' name='price' >

    <input type='submit' name='view' value='Create listing'>
  </form>


</body>
</html>

