<!DOCKTYPE html>
<html>
<head>
</head>
<body>
  <h1>Seaside Lodge</h1>
  <p> It is nice </p>
  <p> £90 per night </p>

  <form method='get'>
    <input type='text' name='name' value='Space Name'>
    <input type='text' name='name' value='Description'>
    <input type='text' name='name' value='Price'>
    <input type='submit' name='view' value='Create listing'>
  </form>


</body>
</html>

