<!DOCKTYPE html>
<html>
<head>
</head>
<body>
  <h1>Space 1</h1>
  <form method='post'>
    <input type='submit' name='view' value='View space'>
  </form>

  <form method='post'>
    <input type='submit' name='create' value='Create space'>
  </form>
</body>
</html>