<!DOCKTYPE html>
<html>
<head>
</head>
<body>
  <h1>Space 1</h1>
  <form method='get'>
    <input type='submit' name='view' value='View space'>
  </form>

  <form action='/bnb/create' method='get'>
    <input type='submit' name='create' value='List space'>
  </form>
</body>
</html>